## i. Introduction

By: [George Kenji Putra](https://github.com/georgekenjiputra)

Dataset: **Telecom Customer Churn**

Objective: To run the model inference from Customer Churn Prediction - ML.ipynb file.

## ii. Importing Libraries

In [1]:
# importing libraries to be used

import pandas as pd
import pickle
import warnings
warnings.filterwarnings(action='ignore')

from sklearn.metrics import classification_report

## iii. Data Loading

We are going to load the sample data and also all the models needed to run our model inference.

In [2]:
# loading and assigning the dataset as inference

inference = pd.read_csv('Customer Churn Prediction Inference - ML.csv')

inference['customer_status'] = inference['customer_status'].map({'Churned' : 1, 'Stayed': 0})

inference

,gender,age,married,number_of_dependents,city,number_of_referrals,tenure_in_months,offer,phone_service,avg_monthly_long_distance_charges,...,contract,paperless_billing,payment_method,monthly_charge,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue,customer_status
0,Male,56,No,0,Sacramento,0,2,Offer E,Yes,6.47,...,Month-to-Month,Yes,Bank Withdrawal,45.15,98.50,0.00,0,12.94,111.44,1
1,Male,49,Yes,0,Others,10,26,None,Yes,45.28,...,One Year,Yes,Bank Withdrawal,20.05,505.90,0.00,0,1177.28,1683.18,0
2,Female,29,Yes,2,Others,10,69,None,No,0.00,...,Two Year,No,Bank Withdrawal,46.25,3121.40,0.00,0,0.00,3121.40,0
3,Male,66,Yes,0,Others,6,65,None,Yes,32.08,...,One Year,Yes,Bank Withdrawal,100.75,6674.65,0.00,0,2085.20,8759.85,0
4,Male,59,Yes,1,Others,11,43,None,Yes,42.22,...,One Year,Yes,Credit Card,-2.00,4013.80,25.49,0,1815.46,5803.77,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Male,74,No,0,Others,0,47,None,Yes,14.78,...,Two Year,No,Bank Withdrawal,59.60,2754.00,0.00,0,694.66,3448.66,0
85,Male,74,Yes,0,San Jose,1,16,Offer D,Yes,26.12,...,Month-to-Month,Yes,Credit Card,74.30,1178.25,0.00,0,417.92,1596.17,1
86,Male,41,Yes,2,Others,3,68,None,Yes,31.40,...,Two Year,Yes,Bank Withdrawal,105.25,7173.15,0.00,0,2135.20,9308.35,0
87,Male,68,Yes,0,Others,3,20,None,Yes,27.56,...,One Year,No,Bank Withdrawal,107.05,2172.05,0.00,0,551.20,2723.25,0
88,Male,48,Yes,0,Others,5,70,None,Yes,31.13,...,One Year,Yes,Bank Withdrawal,95.00,6602.90,0.00,0,2179.10,8782.00,0

In [3]:
# load the models

svc_tuned_model = pickle.load(open('svc_tuned_pred.pkl', 'rb'))

## xi. Model Inference

We will run the actual test in this session using the saved data from h8dsft_P1M2_George_Kenji_Putra.ipynb file.

### x.i Inference Data Processing

In [4]:
# defining y_test for comparison purpose

y_test = inference['customer_status']

### x.ii Inference Prediction

In [5]:
result_svc_tuned = svc_tuned_model.predict(inference)

result_svc_tuned

array([1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       0], dtype=int64)

In [6]:
# predicting the customer status of inference data

result_svc_tuned = pd.DataFrame(result_svc_tuned, columns=['SVC Prediction'])

# making comparison between the actual customer status from the sample data with the predicted values

predictions = pd.concat([inference['customer_status'], result_svc_tuned], axis=1)
predictions.columns = ['Actual', 'SVC Prediction']

predictions

    Actual  SVC Prediction
0        1               1
1        0               0
2        0               0
3        0               0
4        0               0
..     ...             ...
84       0               0
85       1               1
86       0               0
87       0               1
88       0               0

[89 rows x 2 columns]

In [7]:
print ('SVC Report:')
print('')
print(classification_report(y_test, result_svc_tuned))

SVC Report:

              precision    recall  f1-score   support

           0       0.98      0.83      0.90        66
           1       0.67      0.96      0.79        23

    accuracy                           0.87        89
   macro avg       0.82      0.89      0.84        89
weighted avg       0.90      0.87      0.87        89

In summary, the model demonstrates satisfactory performance when evaluated against value `1`. However, it encounters notable challenges when dealing with value `0` in terms of the recall score, suggesting the presence of a class imbalance issue.